# Virtual Environments

.venv/
venv/

# Python

__pycache__/
*.py[cod]
*.pyd

# Jupyter Notebooks

.ipynb_checkpoints/

# Environment Variables

.env

# IDEs

.vscode/

# Operating System Files

.DS_Store
Thumbs.db

# Package Metadata

*.egg-info/

# Build Artifacts

build/
dist/

# Logs
logs/
*.log