# Virtual environment
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Python package metadata
*.egg-info/

# Build artifacts
build/
dist/

# Python cache
__pycache__/
*.pyc